#main-header
{
    color:black;
    text-align: center;
    background-color: skyblue;
    border: 2px solid black;
}
#body
{
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    background-color:paleturquoise;
}
#main
{
    padding-left: 0%;
    padding-right: 4%;
    border: 2px solid black;
    border-radius: 5mm;
    background-color: skyblue;
}
#main2
{   
    list-style: none;
}
.main3
{
    text-align: left;
    border: 1px solid black;
    padding-bottom: 5px;
    padding-top: 3px;
    padding-right: 2px;
    padding-left: 3px;
}
.btn
{
    padding-top: 0%;
    float: right;
}
#flash
{
    font-size: 25px;
}
